<ion-view view-title="{{ restaurant.name }}">
	<ion-content class="has-header">
		<div class="list card" style="margin:0px;">
			<div class="item item-avatar">
			    <img src="img/logo.jpg">
			    <h2>{{ restaurant.name }}</h2>
			    <p>Real food for your busy lifestyle</p>
			</div>
		  	<div class="item item-image">
		    	<img src="img/resto.jpg">
		  	</div>
		    <div class="tabs-striped tabs-color-assertive">
			    <div class="tabs" style="position:relative;">
			    	<a class="tab-item active" href="#">
			        	<i class="icon ion-home"></i>
			        	sadasdsa
			      	</a>
			      	<a class="tab-item" href="#">
			        	<i class="icon ion-star"></i>
			      	</a>
			      	<a class="tab-item" href="#">
				        <i class="icon ion-gear-a"></i>
			      	</a>
			    </div>
			</div>
		</div>
	</ion-content>
</ion-view>