<ion-view view-title="Restaurants">
	<ion-nav-buttons side="secondary">
		<button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()"></button>
	</ion-nav-buttons>
	<ion-content>
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="loadRestaurants()"></ion-refresher>
		<ion-list>
			<ion-item class="item-thumbnail-left item-icon-right" type="item-text-wrap" collection-repeat="restaurant in restaurants" href="#/app/restaurant-list/{{ restaurant.$id }}">
				<img ng-src="{{ restaurant.photo }}" />
				<h2>{{ restaurant.name }}</h2>
				<p>{{ restaurant.address }}</p>
				<p>{{ restaurant.contactInfo }}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>